@import "tailwindcss";

@theme {
  --color-noveo-blue: #1D2F4E;
  --color-noveo-blue-dark: #152843; 
  --color-noveo-teal: #96C2B8;
  --color-noveo-teal-light: #B8D5CE;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}
